.button {
  background-color: initial;
  border: none;
  font-weight: 500;
  display: block;
  width: 100%;
  padding: 12px 0;
  border-radius: 8px;
  cursor: pointer;
  color: var(--text-color);

  &__submit {
    background-color: var(--main-color);
    color: #fff;
    font-size: 13px;
  }

  &__invisible {
    background: none;
    outline: none;
  }

  &__link {
    color: var(--main-color);
    font-size: 11px;
    text-align: center;

    &-profile {
      padding: 0;
      margin-bottom: 10px;
      font-size: 13px;
      line-height: 13px;
      text-align: start;
    }

    &-exit {
      color: var(--text-alternative-color);
      padding: 0;
      margin-bottom: 10px;
      font-size: 13px;
      line-height: 13px;
      text-align: start;
    }

    &-chat {
      color: var(--text-secondary-color);
      padding: 12px;
      font-size: 13px;
      line-height: 13px;
      text-align: end;
    }
  }

  &__main {
    width: 350px;
    margin: auto;
  }

  &__add-chat {
    width: 250px;
    margin: auto;

    &:hover {
      color: var(--text-secondary-color);
    }
  }
}
