.main-panel-chat-middle {
    display: flex;
    height: 100%;
    flex-direction: column-reverse;
    padding: 10px;
    overflow-y: auto;

    &__empty {
        position: absolute;
        top: 50%;
        left: 50%;
        color: var(--text-secondary-color);
        font-size: 12px;
        line-height: 12px;
    }
}
