<div class="container">
    {{> Photo type="main" avatar=photo }}
    
    <p>Иван</p>
    {{#> FormProfile}}
        {{> FormGroup classname="form-group__input-disabled" type="name" label="Почта" text="pochta@yandex.ru" }}
        <hr/>
        {{> FormGroup classname="form-group__input-disabled" type="name" label="Логин" text="ivanivanov" }}
        <hr/>
        {{> FormGroup classname="form-group__input-disabled" type="name" label="Имя" text="Иван" }}
        <hr/>
        {{> FormGroup classname="form-group__input-disabled" type="name" label="Фамилия" text="Иванов" }}
        <hr/>
        {{> FormGroup classname="form-group__input-disabled" type="name" label="Имя в чате" text="Иван" }}
        <hr/>
        {{> FormGroup classname="form-group__input-disabled" type="name" label="Телефон" text="+7 (909) 967 30 30" }}
    {{/FormProfile}}
    {{#> FormProfile}}
        {{>Button classname="link-profile" type="link" label="Изменить данные" page="profile-edit" }}
        <hr/>
        {{>Button classname="link-profile" type="link" label="Изменить пароль" page="profile-password" }}
        <hr/>
        {{>Button classname="link-exit" type="link" label="Выйти" page="login" }}
    {{/FormProfile}}
    {{> LeftPanel page="chat" }}
</div>
