<div class="container">
    {{> Photo type="main" avatar=photo }}
    {{#> FormProfile}}
        {{> FormGroup type="name" label="Почта" text="pochta@yandex.ru" name="email" }}
        <hr/>
        {{> FormGroup type="name" label="Логин" text="ivanivanov" name="login" }}
        <hr/>
        {{> FormGroup type="name" label="Имя" text="Иван" name="first_name" }}
        <hr/>
        {{> FormGroup type="name" label="Фамилия" text="Иванов" name="second_name" }}
        <hr/>
        {{> FormGroup type="name" label="Имя в чате" text="Иван" name="display_name" }}
        <hr/>
        {{> FormGroup type="name" label="Телефон" text="+7 (909) 967 30 30" name="phone" }}
    {{/FormProfile}}
    <div class="button-container">
        {{> Button label="Сохранить" type="primary" page="profile" }}
    </div>
    {{> LeftPanel page="chat" }}
</div>
