<div class="container">
    {{> Photo type="main" avatar=photo }}
    {{#> FormProfile}}
        {{> FormGroup type="password" label="Старый пароль" text="12345678" name="oldPassword" }}
        <hr/>
        {{> FormGroup type="password" label="Новый пароль" text="" name="newPassword" }}
        <hr/>
        {{> FormGroup type="password" label="Повторите новый пароль" text="" name="newPassword" }}
    {{/FormProfile}}
    <div class="button-container">
        {{> Button label="Сохранить" type="primary" page="profile" }}
    </div>
    {{> LeftPanel page="chat" }}
</div>