.icon {
  cursor: pointer;
  
  &_l {
    width: 32px;
    height: 32px;
  }

  &__m {
    width: 28px;
    height: 28px;
  }

  &__s {
    width: 24px;
    height: 24px;
    margin-left: 10px;
  }

  &__xs {
    width: 15px;
    height: 15px;
  }
}
