.image {
  width: 47px;
  height: 47px;
  border-radius: 50%;

  &__main {
    width: 130px;
    height: 130px;
  }

  &__top {
    width: 34px;
    height: 34px;
  }

  &__edit {
    cursor: pointer;
  }

  &__edit:hover {
    filter: brightness(50%);
  }
}
