.image {
  width: 47px;
  height: 47px;

  &__main {
    width: 130px;
    height: 130px;
    border-radius: 50%;
  }

  &__top {
    width: 34px;
    height: 34px;
  }

  &__edit {
    cursor: pointer;
  }

  &__edit:hover {
    filter: brightness(50%);
  }
}
